# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!docker-compose.yml
!traefik
!traefik.toml
!servers.toml
!lets-encrypt-important-notice.png
!hosts
!minetest/minetest.conf
!.env_firefly_iii
