services/*/data/
services/*/repo/
fullchain.pem
privkey.pem
acme.json
letsencrypt
.env
docker-compose.override.yml
custom
*.key
*.crt
backup-logs.txt
nohup.out
custom_services/*
!custom_services/.gitignore